<script src="https://www.w3schools.com/lib/w3.js"></script>
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
{% import 'bootstrap/wtf.html' as wtf %}
{% extends "layout.html" %}
{% include "search_form.html" %}
{% include "nav_bar.html" %}
{% block content %}

 <h1>
        Animal Care
 </h1>

<table id="myTable">
   <tr>
       {% for k in items1[0] %}
            <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child({{ loop.index }})')"> {{ k }} </th>
       {% endfor %}
   </tr>
    {% for d in items1 %}
   <tr class = "item">
         {% for k in d %}
        <td>{{ d[k] }}</td>
         {% endfor %}
  </tr>
   {% endfor %}
 </table>


<div class="content-section" style="margin-left: 30%; margin-right: 30%; margin-top: 10%;">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.text.label(class="form-control-label") }}

                    {% if form.text.errors %}
                        {{ form.text(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.text.errors %}
                                <p class=error><strong>Error:</strong> {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.text(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
 </div>

<table id="myTable">
   <tr>
       {% for k in items2[0] %}
            <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child({{ loop.index }})')"> {{ k }} </th>
       {% endfor %}
   </tr>
    {% for d in items2 %}
   <tr class = "item">
         {% for k in d %}
        <td>{{ d[k] }}</td>
         {% endfor %}
  </tr>
   {% endfor %}
 </table>


 <style>
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  color: #111; font-family: 'Helvetica Neue', sans-serif;

}

th { border-style: solid; border-color: black; background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );}

table {width: 60%; margin-left:20%; margin-right:20%; margin-top: 5%; border-color: black;}
</style>

{% endblock content %}